{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Deletion</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="form-container">
    <h1>Удаление покупателя</h1>
    <p>Вы уверены, что хотите удалить покупателя: {{ buyer.first_name }}
        {{ buyer.last_name }}?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="delete-button">Удалить</button>
    </form>

    <form action="{% url 'buyer_list' %}" method="GET" style="display:inline;">
        <button type="submit" class="cancel-button">Отмена</button>
    </form>
</div>
</body>
</html>

